<link rel="stylesheet" href="/static/css/footer.css">
<footer class="footer">
    <div class="footer__continer">
        <div class="footer_top">
            <div>
                <h6 class="footer__Title">Store</h6>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">About</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Careers</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="footer__Title">Education</h6>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">About</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Careers</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="footer__Title">Business</h6>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">About</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Careers</a>
                    </li>
                    <li class="footer__list-item">
                        <a href="" class="footer__list-link">Affiliates</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="footer__divider">
        <div class="footer__bottom">
            <span class="copyright">&copy; 2023. All rights reserved</span>
            <ul class="footer__list footer__list--bottom">
                <li class="footer__list-item">
                    <a href="" class="footer__list-link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a href="" class="footer__list-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</footer>