<style>
    .navbar-toggler {
        background-color: white;
    }

    .logingateway {
        width: 14rem;
        justify-content: space-evenly;
        display: flex;
    }

    .logingateway span a {
        color: white;
        text-decoration: none;
    }

    .logingateway span a:hover {
        color: aliceblue;
        text-decoration: wavy;
    }
</style>
<nav class="navbar navbar-expand-lg bg-dark text-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"><i class="fa-solid fa-house">&ensp;<span>CDP</span></i></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="color:white">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/student/Add-Student">Add
                        Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="">Add conference</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">download</a>
                </li>
            </ul>
            <div class="logingateway">
                <% if(locals.user){ %>
                    <span class="navbar-text">
                        <a href="">
                            <%= user.name %>
                        </a>
                    </span>
                    <span class="navbar-text">
                        <a href="/users/sign-out">Sign Out</a>
                    </span>
                    <% }else{ %>
                        <span class="navbar-text">
                            <a href="/users/sign-In">Log-In</a>
                        </span>
                        <span class="navbar-text">
                            <a href="/users/sign-Up">Sign Up</a>
                        </span>
                        <% } %>


            </div>
        </div>
    </div>
</nav>