<link rel="stylesheet" type="text/css" href="/static/css/placement.css">
<div class="placementDetails">
    <div class="placement_title">
        <h2>Placement Cell</h2>
    </div>
    <div class="d-flex justify-content-around flex-wrap p-4">
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="https://th.bing.com/th/id/OIP.Zu6JpD4EQWssu9_9t5Y7AwHaHa?pid=ImgDet&rs=1"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">gycguig</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="https://th.bing.com/th/id/OIP.Zu6JpD4EQWssu9_9t5Y7AwHaHa?pid=ImgDet&rs=1"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bbcub</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="https://th.bing.com/th/id/OIP.Zu6JpD4EQWssu9_9t5Y7AwHaHa?pid=ImgDet&rs=1"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bbcub</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 640px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="https://th.bing.com/th/id/OIP.Zu6JpD4EQWssu9_9t5Y7AwHaHa?pid=ImgDet&rs=1"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">bbcub</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>