<link rel="stylesheet" type="text/css" href="css/signIn.css">
<link rel="stylesheet" href="css/button.css">
<div class="wrapper">
    <div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
        <h3 class="title">Sign in</h3>
        <form action="" class="form" id="myForm">
            <div class="input-container">
                <input type="text" name="username" placeholder="Username" id="name">
                <i class="fa-regular fa-circle-user image-placeholder"></i>
            </div>
            <div class="input-container">
                <input type="password" name="password" id="password" placeholder="*******">
                <i class="fa-solid fa-lock image-placeholder"></i>
            </div>
            <button class="button">
                <span class="submit">Submit</span>
                <span class="loading"><i class="fa fa-refresh"></i></span>
                <span class="check"><i class="fa fa-check"></i></span>
            </button>
    </div>
</div>
<h4 class="h4-text">Or</h4>
<div class="other-option">
    <i class="fa-brands fa-google"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
</div>
</form>
</div>
</div>

<script src="js/button.js"></script>