<link rel="stylesheet" href="/static/css/studentForm.css">
<!-- <h2>New Student Form</h2> -->
<form action="/student/addNewStudentForm" method="POST">

    <div class="container mt-12 col-md-12 center">
        <h2>Student Information</h2>
        <form>
            <div class="col-12">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" placeholder="Enter Student name" id="name" name="name" required>

            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" placeholder="Enter Student email" id="email" name="email"
                    required>

            </div>
            <div class="col-12">
                <label for="college" class="form-label">College:</label>
                <input type="text" class="form-control" placeholder="Enter Student College Name" id="college"
                    name="college" required>

            </div>
            <div class="col-6">
                <label for="status" class="form-label">Status:</label>
                <select name="status" id="status" required>
                    <option value="Placed" selected>Placed</option>
                    <option value="Not-Placed">Not-Placed</option>

                </select>

            </div>
            <div class="col-6">
                <label for="batch" class="form-label">Batch:</label>
                <input type="text" class="form-control" placeholder="Enter Student batch" id="batch" name="batch"
                    required>

            </div>
            <div class="col-4">
                <label for="dsaScore" class="form-label">Dsa score:</label>
                <input type="number" class="form-control" placeholder="dsa score" id="dsaScore" name="dsaScore"
                    required>

            </div>
            <div class="col-4">
                <label for="webdevScore" class="form-label">web Dev Score:</label>
                <input type="number" class="form-control" placeholder="web dev score" id="webdevScore"
                    name="webdevScore" required>

            </div>
            <div class="col-4">
                <label for="reactScore" class="form-label">React Score</label>
                <input type="number" class="form-control" placeholder="react score" id="reactScore" name="reactScore"
                    required>

            </div>
            <button type="submit" class="btn btn-primary"> Submit</button>
        </form>
    </div>


</form>
<script src="/static/js/studentForm.js"></script>